spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST}/${DB_NAME}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
logging:
  level:
    com.innowise: info
eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/